body {
    background-color: lightblue;
}

nav {
    width: 100%;
}

.container-fluid {
    width: 100%;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

a {
    margin-left: 10px;
    text-decoration: none;
}

.table {
    width: 80%;
    margin: auto;
}

.filter-container {
    margin: 20px auto;
    width: 80%;
    flex: auto;
    justify-content: center;
    align-content: center;
}

td a {
    margin: 0px;
    color: black;
    display: block;
    align-content: center;
}

td a:hover {
    color: black;
}

.container {
    margin-top: 30px;
}

.filter-col {
    padding-left: 10px;
    padding-right: 10px;
}

a.btn {
    margin-top: 10px;
}

.sale-container {
    width: 100%;
    margin: 20px auto;
    align-content: center;
    justify-content: center;
}

td form button.btn {
    margin: 0;
    padding: 0;
}

.alert-danger {
    margin: 20px;
}

.alert-primary {
    margin: 20px;
}
