<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/sale/index"><img src="../../icons/cash-coin.svg"/></a>
        <a class="navbar-brand" href="/sale/index">Auto.ru</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/sale/index">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sale/create">Создать объявление</a>
                </li>
            </ul>
        </div>
    </nav>
</div>